<div class="row">
  <div class="column">
    <form
      name="contact"
      id="contact"
      action="https://form.matthammond.com/api/v1/form/3DCipNRqa6Wyxrq9wdVUcIckFzo9B0J0"
      method="POST"
    >
      <div class="input">
        <input
          type="text"
          placeholder="Name"
          name="name"
          class="p-4 bg-nord-5 border border-nord-3 focus:outline-none focus:bg-nord-6 focus:border-nord-0"
          required
        />
      </div>
      <div class="input">
        <input
          type="text"
          placeholder="Email"
          name="email"
          class="p-4 bg-nord-5 border border-nord-3 focus:outline-none focus:bg-nord-6 focus:border-nord-0"
          required
        />
      </div>
      <div class="input">
        <input
          type="text"
          placeholder="Subject"
          name="subject"
          class="p-4 bg-nord-5 border border-nord-3 focus:outline-none focus:bg-nord-6 focus:border-nord-0"
          required
        />
      </div>
      <div class="input">
        <textarea
          rows="5"
          cols="30"
          placeholder="Message"
          name="content"
          class="p-4 bg-nord-5 border border-nord-3 focus:outline-none focus:bg-nord-6 focus:border-nord-0"
          required
        ></textarea>
      </div>
      <!-- Honeypot field - hidden from users but visible to bots -->
      <input type="text" name="website" style="display: none;" tabindex="-1" autocomplete="off" />
      <input
        type="submit"
        value="Submit"
        class="px-8 py-2 duration-200 bg-nord-0 text-nord-6 cursor-pointer transition-colors hover:bg-nord-2"
      />
      <div class="recaptcha-text">
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </div>
      <div class="overlay">
        <div></div>
      </div>
      <!-- .overlay -->
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/js/form.js"></script>
  </div>
  <div class="column">
    <center>
      <img
        src="/img/logos/contact_logo.png"
        alt="Services"
        title="Services"
        width="400"
      />
    </center>
  </div>
</div>
