{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <h2 class="mb-4">{{ .Title | markdownify }}</h2>
        <div class="content">{{ .Content }}</div>
        <form
          method="POST"
          action="https://form.matthammond.com/api/v1/form/3DCipNRqa6Wyxrq9wdVUcIckFzo9B0J0"
          class="row"
        >
          <div class="col-12">
            <input
              type="text"
              class="form-control mb-4"
              placeholder="Name"
              name="name"
              id="name"
            />
          </div>
          <div class="col-12">
            <input
              type="email"
              class="form-control mb-4"
              placeholder="Email"
              name="email"
              id="email"
            />
          </div>
          <div class="col-12">
            <input
              type="subject"
              class="form-control mb-4"
              placeholder="Subject"
              name="subject"
              id="subject"
            />
          </div>
          <div class="col-12">
            <textarea
              name="content"
              id="content"
              class="form-control mb-4"
              placeholder="Type You Message Here"
              rows="5"
            ></textarea>
          </div>
          <div class="col-12">
            <button class="btn btn-primary btn-block" type="submit">
              Send
            </button>
          </div>
        </form>
      </div>
      {{ if .Params.Image }}
      <div class="col-lg-6 text-md-right">
        <img
          loading="lazy"
          class="img-fluids"
          src="{{ .Params.Image | absURL }}"
          alt="{{ .Title }}"
        />
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
