{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <h2 class="mb-4">{{ .Title | markdownify }}</h2>
        <div class="content">{{ .Content }}</div>
        <form class="row">
          <div class="col-12">
            <input
              type="text"
              class="form-control mb-4"
              placeholder="Name"
              name="name"
              id="name"
            />
          </div>
          <div class="col-12">
            <input
              type="email"
              class="form-control mb-4"
              placeholder="Email"
              name="email"
              id="email"
            />
          </div>
          <div class="col-12">
            <input
              type="subject"
              class="form-control mb-4"
              placeholder="Subject"
              name="subject"
              id="subject"
            />
          </div>
          <div class="col-12">
            <textarea
              name="content"
              id="content"
              class="form-control mb-4"
              placeholder="Type You Message Here"
              rows="5"
            ></textarea>
          </div>
          <div class="col-12">
            <button class="btn btn-primary btn-block" type="submit">
              Send
            </button>
          </div>
        </form>
      </div>
      {{ if .Params.Image }}
      <div class="col-lg-6 text-md-right">
        <img
          loading="lazy"
          class="img-fluids"
          src="{{ .Params.Image | absURL }}"
          alt="{{ .Title }}"
        />
      </div>
      {{ end }}
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    var $contactForm = $("#contact-form");
    $contactForm.submit(function (e) {
      e.preventDefault();
      $.ajax({
        url: "https://form.matthammond.com/api/v1/form/3DCipNRqa6Wyxrq9wdVUcIckFzo9B0J0",
        method: "POST",
        data: $(this).serialize(),
        dataType: "json",
        beforeSend: function () {
          $contactForm
            .find(".overlay div")
            .html(
              '<div class="alert alert--loading"><i class="fa fa-circle-o-notch fa-spin"></i> &nbsp; Sending message...</div>',
            );
          $contactForm.find(".overlay").fadeIn();
        },
        success: function (data) {
          $contactForm.find(".alert--loading").hide();
          $contactForm
            .find(".overlay div")
            .html(
              '<div class="alert alert--success"><i class="fa fa-check"></i> &nbsp; Your message was sent successfully!</div>',
            );
          $contactForm.find(".overlay").fadeIn();
        },
        error: function (err) {
          $contactForm.find(".alert--loading").hide();
          $contactForm
            .find(".overlay div")
            .html(
              '<div class="alert alert--error"><i class="fa fa-warning"></i> &nbsp; Ooops, something went wrong.</div>',
            );
          $contactForm.find(".overlay").fadeIn();
        },
      });
    });
    $contactForm.find(".overlay").click(function (e) {
      $(this).fadeOut();
    });
  });
</script>
{{ end }}
