<form id="contact-form" name="contact">
  <div class="input">
    <input
      type="text"
      placeholder="Name"
      name="name"
      class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
      required
    />
  </div>
  <div class="input">
    <input
      type="text"
      placeholder="Email"
      name="email"
      class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
      required
    />
  </div>
  <div class="input">
    <input
      type="text"
      placeholder="Subject"
      name="subject"
      class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
      required
    />
  </div>
  <div class="input">
    <textarea
      rows="5"
      cols="30"
      placeholder="Message"
      name="content"
      class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500"
      required
    ></textarea>
  </div>
  <input
    type="submit"
    value="Submit"
    class="px-8 py-2 duration-200 bg-gray-800 text-white cursor-pointer transition-colors hover:bg-gray-400"
  />
</form>

<script>
  $(document).ready(function () {
    var $contactForm = $("#contact-form");
    $contactForm.submit(function (e) {
      e.preventDefault();
      $.ajax({
        url: "https://form.matthammond.com/api/v1/form/3DCipNRqa6Wyxrq9wdVUcIckFzo9B0J0",
        method: "POST",
        data: $(this).serialize(),
        dataType: "json",
        beforeSend: function () {
          $contactForm
            .find(".overlay div")
            .html(
              '<div class="alert alert--loading"><i class="fa fa-circle-o-notch fa-spin"></i> &nbsp; Sending message...</div>',
            );
          $contactForm.find(".overlay").fadeIn();
        },
        success: function (data) {
          $contactForm.find(".alert--loading").hide();
          $contactForm
            .find(".overlay div")
            .html(
              '<div class="alert alert--success"><i class="fa fa-check"></i> &nbsp; Your message was sent successfully!</div>',
            );
          $contactForm.find(".overlay").fadeIn();
        },
        error: function (err) {
          $contactForm.find(".alert--loading").hide();
          $contactForm
            .find(".overlay div")
            .html(
              '<div class="alert alert--error"><i class="fa fa-warning"></i> &nbsp; Ooops, something went wrong.</div>',
            );
          $contactForm.find(".overlay").fadeIn();
        },
      });
    });
    $contactForm.find(".overlay").click(function (e) {
      $(this).fadeOut();
    });
  });
</script>
